/* Стилизация аккордеона */
.accordion {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
}
.accordion__item {
    max-width: 46rem;
    padding: 0;
    margin: 0;
    margin-bottom: 0.5rem;
    background-color: var(--white);
    border: 0.06rem solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 0.5rem;
}
.accordion__item:last-child {
    margin-bottom: 0;
}
.accordion__summary {
    padding: 1.5rem 2rem 1.5rem;
    color: var(--black);
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.accordion__title {
    margin: 0;
}
.accordion__icon {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--grey-4);
}
.accordion__summary::-webkit-details-marker {
    display: none;
}
.accordion__content {
    margin: 0;
    padding: 1rem 2rem 2rem;
    color: var(--grey-4);
}
.accordion__details[open] .accordion__summary {
    padding-bottom: 0;
}
.accordion__details[open] .accordion__icon {
    transform: rotate(180deg);
}
