.modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(196, 196, 196, 0.6);
    z-index: 1000;
    transition: all 0.35s ease-out;
}
.modal__window {
    max-width: 27rem;
    background: var(--white);
    box-sizing: border-box;
    border-radius: 0.5rem;
    padding: 1rem 1rem 2rem 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal__header {
    display: flex;
    justify-content: space-between;
}
.modal__title {
    padding-top: 1rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: var(--blue-2);
}
.modal__close {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--grey-4);
}
.modal__main {
    padding-right: 1.5rem;
    padding-top: 1rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--grey-4);
}
.modal__text {
    margin: 0;
}
