.gistogram {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 354px;
    min-width: 160px;
    height: 185px;
    background-color: var(--white);
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
}
.gistogram__info {
    display: flex;
    justify-content: space-between;
    margin: 16px 24px 0;
}
.gistogram__info_section-2 {
    padding-top: 3px;
}
.gistogram__info_title {
    opacity: 0.8;
}
.gistogram__info_total {
    font-size: 20px;
    line-height: 26px;
    margin-top: 6px;
}
.gistogram__info_details {
    text-align: right;
}
.gistogram__info-link {
    text-decoration: none;
    color: var(--blue-1);
}
.gistogram__chart {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1px;
    margin: 0px 24px 24px;
}
.gistogram__chart-section {
    flex-grow: 1;
    writing-mode: vertical-rl;
    background-color: var(--blue-1);
}
.gistogram__chart-section_100 {
    inline-size: 100%;
}
.gistogram__chart-section_70 {
    inline-size: 70%;
}
.gistogram__chart-section_50 {
    inline-size: 50%;
}
.gistogram__chart-section_30 {
    inline-size: 30%;
}
.gistogram__chart-section_18 {
    inline-size: 18%;
}