.skeleton {
    padding: 24px 24px 32px 24px;
    background-color: var(--white);
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;
}
.skeleton__header {
    display: flex;
    align-items: center;
    gap: 16px;
}
.skeleton__header-avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: var(--grey-2);
    flex-shrink: 0;
}
.skeleton__line {
    height: 20px;
    margin: 0px;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%,
    #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}
.skeleton__header-line {
    flex-grow: 1;
}
.skeleton__line_short {
    margin-bottom: 8px;
    width: 38%;
}
.skeleton__line_middle {
    width: 57%;
}
.skeleton__main {
    margin-top: 24px;
    margin-right: 14px;
}
.skeleton__line_long {
    margin-bottom: 8px;
}
.skeleton__line_long:last-child {
    margin-bottom: 0px;
}