.checkbox {
    display: inline-flex;
}
.checkbox__input {
    position: absolute;
    outline: none;
    clip: rect(0, 0, 0, 0);
}
.checkbox__state {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    cursor: pointer;
}
.checkbox__control {
    position: relative;
    width: 1.75rem;
    height: 1.75rem;
    background: var(--white);
    border: 0.06rem solid var(--grey-2);
    box-sizing: border-box;
    border-radius: 0.25rem;
}
.checkbox__icon {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent;
}
.checkbox__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--grey-4);
}
.checkbox__input:checked ~ .checkbox__state .checkbox__control {
    background: var(--blue-1);
    border-color: var(--blue-1);
}
.checkbox__input:checked ~ .checkbox__state .checkbox__icon {
    color: var(--white);
}
.checkbox__input:focus ~ .checkbox__state .checkbox__title {
    text-decoration: underline;
}
.checkbox__input:disabled ~ .checkbox__state {
    cursor: default;
}
.checkbox__input:disabled ~ .checkbox__state .checkbox__control {
    background: var(--grey-2);
    border-color: var(--grey-2);
}
.checkbox__input:disabled ~ .checkbox__state .checkbox__title {
    color: var(--grey-2);
}