.preview {
    /*min-height: 400px;*/
    background-color: #F9FAFC;
}
.preview__inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
    
}
/*.preview__inner-card {
    width: calc(33.3333% - 30px);
}*/